<h1 class="text-center mb-5">
  <%= @branch.company.name %><%= @branch.name %>
</h1>

<div class="mb-5">
  <h3><%= @branch.company.catch_copy %></h3>
  <p><%= @branch.introduction %></p>
</div>

<div class="mb-5">
  <p class="fw-bold"><%= @branch.company.name %>についての口コミ</p>
  <% @branch.reviews.each do |review| %>
    <div class="card mb-2">
      <div class="card-body">
        <%= render 'review', review: review %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'company_info' %>

<div class="row justify-content-center mb-5">
  <button type="button" class="btn btn-secondary w-25">査定依頼をする</button>
</div>
