<h1 class="text-center mb-5">
  <%= @branch.company.name %><%= @branch.name %>
</h1>

<div class="mb-5">
  <h3><%= @branch.company.catch_copy %></h3>
  <p><%= @branch.introduction %></p>
</div>

<div class="mb-5">
  <p class="fw-bold"><%= @branch.company.name %>についての口コミ<% unless @branch.reviews.blank? %>(平均評価 ★<%= average_satisfaction_level(@branch.reviews) %>)<% end %></p>
  <% if @branch.reviews.blank? %>
    <p>口コミがありません</p>
  <% else %>
    <%= render partial: 'review', collection: @branch.reviews, as: :review %>
  <% end %>
</div>

<%= render 'company_info', branch: @branch %>

<%= render "layouts/to_assessment_form_button", ieul_branch_id: @branch.ieul_branch_id %>
