<h1 class="text-center mb-5">
  <%= @branch.company.name %><%= @branch.name %>
</h1>

<div class="mb-5">
  <h3><%= @branch.company.catch_copy %></h3>
  <p><%= @branch.introduction %></p>
</div>

<div class="mb-5">
  <p class="fw-bold"><%= @branch.company.name %>についての口コミ(平均評価 ★<%= @branch.average_satisfaction_level %>)</p>
  <% @branch.reviews.each do |review| %>

    <%= link_to(review_path(review), class: 'text-decoration-none text-body') do %>
      <div class="card mb-2">
        <div class="card-body">
          <%= render 'review', review: review %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'company_info', branch: @branch %>

<div class="text-center mb-5">
  <%= link_to "査定依頼をする", new_assessment_form_path(ieul_branch_id: @branch.ieul_branch_id), class: 'btn btn-secondary w-25' %>
</div>
