<h1 class="text-center mb-5">査定依頼フォーム</h1>

<% unless flash.empty? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<p>査定対象物件の情報を入力してください。</p>

<%= form_with model: @assessment_form, methods: :post, local: true do |form| %>

  <%= form.hidden_field :ieul_branch_id, value: @ieul_branch_id %>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :last_name, '姓 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.text_field :last_name, class: "form-control" %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:last_name).each do |message| %>
          <%= message %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :first_name, '名 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.text_field :first_name, class: "form-control" %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:first_name).each do |message| %>
          <%= message %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
        <%= form.label :last_name_kana, 'せい (必須)', class: "last_name_kana" %>
      </div>
      <div class="col-md-8 col-lg-6">
        <%= form.text_field :last_name_kana, class: "form-control" %>
        <span class='text-danger'>
          <% @assessment_form.errors.full_messages_for(:last_name_kana).each do |message| %>
            <%= message %>
          <% end %>
        </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
        <%= form.label :first_name_kana, 'めい (必須)', class: "col-form-label" %>
      </div>
      <div class="col-md-8 col-lg-6">
        <%= form.text_field :first_name_kana, class: "form-control" %>
        <span class='text-danger'>
          <% @assessment_form.errors.full_messages_for(:first_name_kana).each do |message| %>
            <%= message %>
          <% end %>
        </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :user_email, 'メールアドレス (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.email_field :user_email, class: "form-control" %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:user_email).each do |message| %>
          <%= message unless message.include?('メールアドレスを入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :user_tel, '電話番号 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.text_field :user_tel, class: "form-control" %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:user_tel).each do |message| %>
          <%= message unless message.include?('電話番号を入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :prefecture_id, '都道府県 (必須)' , { class: "col-form-label" } %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "都道府県を選択してください" }, { id: 'prefecture', class: 'form-select' } %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:prefecture_id).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_city, '市区町村 (必須)', calss: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.collection_select :property_city, City.all, :id, :name, { prompt: "市区町村を選択してください" }, { id: 'city', class: 'form-select' } %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_city).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_address, '市区町村以降の住所 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.text_field :property_address, class: "form-control" %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_address).each do |message| %>
          <%= message %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_type, '物件種別 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.select :property_type, [['分譲マンション',1], ['一戸建て', 2], ['土地', 3]], {prompt: '物件種別を選択してください'}, {class: "form-select"} %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_type).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_building_area_unit, '建物面積単位 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.select :property_building_area_unit, [['平方メートル',1], ['坪', 2]], { prompt: '建物の面積単位を選択してください' }, { class: "form-select" } %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_building_area_unit).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_exclusive_area, '専有面積 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.number_field :property_exclusive_area, class: "form-control", value: 0 %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_exclusive_area).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_land_area, '土地面積 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.number_field :property_land_area, class: "form-control", value: 0 %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_land_area).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_building_area, '建物面積 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.number_field :property_building_area, class: "form-control", value: 0 %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_building_area).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_floor_area, '延床面積 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.number_field :property_floor_area, class: "form-control", value: 0 %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_floor_area).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_room_plan, '間取り (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.select :property_room_plan, [['1R(ワンルーム)',1], ['1K/1DK', 2], ['1LK/1LDK', 3], ['2K/2DLK', 4], ['2LK / 2LDK', 5], ['3K/3DK', 6], ['3LK/3LDK', 7], ['4K/4DK', 8], ['4LK/4LDK', 9], ['5K/5DK',10], ['5LK/5LDK', 11], ['6K/6DK', 12], ['6LK/6LDK以上', 13]], { prompt: '間取りを選択してください' }, { class: "form-select" } %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_room_plan).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <%= form.label :property_constructed_year, '築年数 (必須)', class: "col-form-label" %>
    </div>
    <div class="col-md-8 col-lg-6">
      <%= form.number_field :property_constructed_year, class: "form-control" %>
      <span class='text-danger'>
        <% @assessment_form.errors.full_messages_for(:property_constructed_year).each do |message| %>
          <%= message unless message.include?('数値で入力してください') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <button type="submit" class="btn btn-secondary w-25">査定依頼をする</button>
  </div>
<% end %>

<script>
  window.onload = function(){
    filterCityByPrefecture();
    selectPropertyType();
  }

  $(document).ready(function(){
    filterCityByPrefecture();
    selectPropertyType();
  })

  function selectPropertyType(){
    // 物件種別の変更の検知
    const propertyType = $('#property');
    const propertyExclusiveAreaElement = $('#property_exclusive_area')
    const propertyLandAreaElement = $('#property_land_area')
    const propertyBuildingAreaElement = $('#property_building_area')
    const propertyFloorAreaElement = $('#property_building_area')
    const propertyRoomPlanElement = $('#property_room_plan')

    propertyType.change(() => {
      const propertyTypeValue = propertyType.val()
      console.log(propertyTypeValue)

      // 分譲マンション選択時
      if (propertyTypeValue === '1') {
        console.log("1")
        disableAll()
        propertyExclusiveAreaElement.prop('disabled', false);
        propertyRoomPlanElement.prop('disabled', false);
      }
      // 一戸建て
      if (propertyTypeValue === '2') {
        console.log("2")
        disableAll()
        propertyLandAreaElement.prop('disabled', false);
        propertyBuildingAreaElement.prop('disabled', false);
        propertyFloorAreaElement.prop('disabled', false);
        propertyRoomPlanElement.prop('disabled', false);
      }
      // 土地の選択時
      if (propertyTypeValue === '3') {
        console.log("3")
        disableAll()
        propertyLandAreaElement.prop('disabled', false);
      }
    })
  }

  function filterCityByPrefecture() {
    const prefectureElement = $('#prefecture');
    const cityElement = $('#city');

    prefectureElement.change(() => {
      const prefectureID = prefectureElement.val();

      fetchCitiesByPrefectureID(prefectureID).then((res) => {
        cityElement.children().remove().end();

        res.map((city) => {
          cityElement.append($('<option>', {
            value: city.id,
            text: city.name,
          }));
        });
      });
    });
  }

  async function fetchCitiesByPrefectureID(id) {
    const response = await fetch(`/api/prefectures/${id}/cities`);
    return await response.json();
  }
</script>
