<h1 class="text-center mb-5">査定依頼フォーム</h1>

<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
<% end %>
<p>査定対象物件の情報を入力してください。</p>
<%= form_with url: assessment_forms_path ,methods: :post, local: true  do |form| %>

  <%= form.hidden_field :branch_id, value: 1 %>

  <div class="row mb-2">
    <div class="col-2">
      <label for="prefecture_id" class="col-form-label">都道府県名 (必須)</label>
    </div>
    <div class="col-7">
      <select class="form-select" aria-label="city_select" name="prefecture_id">
        <option disabled selected value>都道府県を選択してください</option>
        <option value=1>北海道</option>
        <option value=2>秋田県</option>
      </select>
      <% @assessment_form.errors.full_messages_for(:prefecture_id).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="city_id" class="col-form-label">市区町村 (必須)</label>
    </div>
    <div class="col-7">
      <select class="form-select" aria-label="city_select" name="city_id">
        <option disabled selected value>市区町村を選択してください</option>
        <option value=1>札幌市</option>
        <option value=2>苫小牧</option>
      </select>
      <% @assessment_form.errors.full_messages_for(:city_id).each do |message| %>
         <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_address" class="col-form-label">市区町村以下の住所 (必須)</label>
    </div>
    <div class="col-7">
      <input type="text" class="form-control" aria-describedby="property_address" name="property_address" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:property_id).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_type" class="col-form-label">物件種別 (必須)</label>
    </div>
    <div class="col-7">
      <select class="form-select" aria-label="property_type_select" name="property_type">
        <option disabled selected value>物件種別を選択してください</option>
        <option value=1>分譲マンション</option>
        <option value=2>一戸建て</option>
        <option value=3>土地</option>
      </select>
      <% @assessment_form.errors.full_messages_for(:property_type).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_exclusive_area" class="col-form-label">専有面積 (必須)</label>
    </div>
    <div class="col-7">
      <input type="number" class="form-control" aria-describedby="property_exclusive_area" name="property_exclusive_area" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:property_exclusive_area).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_land_area" class="col-form-label">土地面積 (必須)</label>
    </div>
    <div class="col-7">
      <input type="number" class="form-control" aria-describedby="property_land_area" name="property_land_area" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:property_land_area).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_building_area" class="col-form-label">建物面積 (必須)</label>
    </div>
    <div class="col-7">
      <input type="number" class="form-control" aria-describedby="property_building_area" name="property_building_area" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:property_building_area).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_building_area_unit" class="col-form-label">建物面積単位 (必須)</label>
    </div>
    <div class="col-7">
      <select class="form-select" aria-label="property_building_area_unit_select" name="property_building_area_unit">
        <option disabled selected value>建物の面積単位を選択してください</option>
        <option value=1>平方メートル</option>
        <option value=2>坪</option>
      </select>
      <% @assessment_form.errors.full_messages_for(:property_building_area_unit).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_floor_area" class="col-form-label">延床面積 (必須)</label>
    </div>
    <div class="col-7">
      <input type="number" class="form-control" aria-describedby="property_floor_area" name="property_floor_area" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:property_floor_area).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_room_plan" class="col-form-label">間取り (必須)</label>
    </div>
    <div class="col-7">
      <select class="form-select" aria-label="property_room_plan_select" name="property_room_plan">
        <option disabled selected value>間取りを選択してください</option>
        <option value=1>1R(ワンルーム)</option>
        <option value=2>1K/1DK</option>
        <option value=3>1LK/1LDK</option>
        <option value=4>2K/2DLK</option>
        <option value=5>2LK / 2LDK</option>
        <option value=6>3K/3DK</option>
        <option value=7>3LK/3LDK</option>
        <option value=8>4K/4DK</option>
        <option value=9>4LK/4LDK</option>
        <option value=10>5K/5DK</option>
        <option value=11>5LK/5LDK</option>
        <option value=12>6K/6DK</option>
        <option value=13>6LK/6LDK以上</option>
      </select>
      <% @assessment_form.errors.full_messages_for(:property_room_plan).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="property_constructed_year" class="col-form-label">築年数 (必須)</label>
    </div>
    <div class="col-7">
      <input type="number" class="form-control" aria-describedby="property_constructed_year" name="property_constructed_year" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:property_constructed_year).each do |message| %>
        <%= message unless message.include?('is not a number')  %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="user_email" class="col-form-label">メールアドレス (必須)</label>
    </div>
    <div class="col-7">
      <input type="email" class="form-control" aria-describedby="user_email" name="user_email" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:user_email).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="last_name" class="col-form-label">姓 (必須)</label>
    </div>
    <div class="col-7">
      <input type="text" class="form-control" aria-describedby="last_name" name="last_name" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:last_name).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <label for="first_name" class="col-form-label">名 (必須)</label>
    </div>
    <div class="col-7">
      <input type="text" class="form-control" aria-describedby="first_name" name="first_name" autocomplete="off">
      <% @assessment_form.errors.full_messages_for(:first_name).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
        <label for="first_name_kana" class="col-form-label">せい (必須)</label>
      </div>
      <div class="col-7">
        <input type="text" class="form-control" aria-describedby="last_name_kana" name="last_name_kana" autocomplete="off">
        <% @assessment_form.errors.full_messages_for(:last_name_kana).each do |message| %>
          <%= message %>
        <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
        <label for="first_name_kana" class="col-form-label">なまえ (必須)</label>
      </div>
      <div class="col-7">
        <input type="text" class="form-control" aria-describedby="first_name_kana" name="first_name_kana" autocomplete="off">
        <% @assessment_form.errors.full_messages_for(:first_name_kana).each do |message| %>
          <%= message %>
        <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
        <label for="user_tel" class="col-form-label">電話番号 (必須)</label>
      </div>
      <div class="col-7">
        <input type="tel" class="form-control" aria-describedby="user_tel" name="user_tel" autocomplete="off">
        <% @assessment_form.errors.full_messages_for(:user_tel).each do |message| %>
          <%= message %>
        <% end %>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <button type="submit" class="btn btn-secondary w-25">査定依頼をする</button>
  </div>
<% end %>
