<div class="row">
  <div class="col">
    <p><%= prefecture_branch.company.name %><%= prefecture_branch.name %></p>
  </div>
  <div class="col-9">
    <p><%= prefecture_branch.business_hours %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>★<%= prefecture_branch.average_satisfaction_level %></p>
  </div>
  <div class="col-9">
    <p><%= prefecture_branch.closed_day %></p>
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col-9">
    <p>住所：<%= prefecture_branch.city.prefecture.name %><%= prefecture_branch.city.name %><%= prefecture_branch.after_address %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>会社の決めて：</p>
  </div>
  <div class="col-9">
    <% if prefecture_branch.reviews == [] then %>
      <p>口コミがありません</p>
    <% else %>
      <p><%= prefecture_branch.reviews.first.comment_reason_to_decide %></p>
    <% end %>
  </div>
</div>
