<h1 class="text-center mb-5"><%= @prefecture.name %> <%= @city.name %>の不動産会社</h1>

<div class='mb-3'>
  <%= link_to 'Home', root_path , class: 'inline text-decoration-none text-secondary' %>
  <span class='px-3'>></span>
  <%= link_to "#{@prefecture.name}", @prefecture, class: 'inline text-decoration-none text-secondary' %>
  <span class='px-3'>></span>
  <span><%= @city.name %></span>
</div>

<% unless flash.empty? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="mb-5">
  <% if @city_branches.blank? %>
    <p>査定可能な不動産会社がありません</p>
  <% end %>
</div>

<div class="mb-5">
  <%= render partial: 'layouts/branch_info', collection: @city_branches, as: :branch %>
</div>
